<configuration>

    <appender name="CON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.bb.kalah.model" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CON"/>
    </root>

</configuration>